.header {
  
  width: 92.5%;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  align-items: center;
  padding-top: 28px;
  flex-direction: row;
}

/* .header__logo{
  display: flex; 
  align-items: center; 
  width: auto; 
} */

@media screen and (max-width: 1024px) {
  .header {
    width: 90%;
  }
}